@model Omnius.Domain.Entities.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <h3>Редактирование Потребителя</h3>
    
    <form class="form-horizontal" method="Post">

        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.FamilyName)</label>
            <div class="col-sm-10">
                <input asp-for="FamilyName" class="form-control" type="text" placeholder="Например, Иванов">
                <span asp-validation-for="FamilyName" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Name)</label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" type="text" placeholder="Например, Иван">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.PaternalName)</label>
            <div class="col-sm-10">
                <input asp-for="PaternalName" class="form-control" type="text" placeholder="Например, Иванович">
                <span asp-validation-for="PaternalName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.Sex)</label>
            <div class="col-sm-10">
                <select class="form-control" asp-for="Sex" style="width:200px;">
                    <option value="true"> Мужской</option>
                    <option value="false"> Женский</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.DateOfBirth)</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.DateOfDeath)</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.DateOfDeath, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                <span asp-validation-for="DateOfDeath" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.FirstCase)</label>
            <div class="col-sm-10">
                <input asp-for="FirstCase" class="form-control" type="text" placeholder="Например, Иванова Ивана Ивановича">
                <span asp-validation-for="FirstCase" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.SecondCase)</label>
            <div class="col-sm-10">
                <input asp-for="SecondCase" class="form-control" type="text" placeholder="Например, Иванову Ивану Ивановичу">
                <span asp-validation-for="SecondCase" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.INN)</label>
            <div class="col-sm-10">
                <input asp-for="INN" class="form-control" type="text" placeholder="12 цифр ИНН ФЛ или 10 ЮЛ">
                <span asp-validation-for="INN" class="text-danger"></span>
            </div>
        </div>
        @* @await Html.PartialAsync("_ContactList", Model.Contacts)*@
        <div class="validation" asp-validation-summary="ModelOnly"> </div>
        <div>
            <button type="reset" onclick="myFunction()" class="btn alert-info">
                <span>Контакты  </span>
            </button>  <button type="reset" class="btn alert-info" id="flip">
                <span>Документы  </span>
            </button>
            <H1></H1>
            <div id="myDIV" style="display: none">

                @Html.ActionLink("Создать контакт", "CreateContact", "Customer", new { customerID = @Model.ID }, null)

                @await Component.InvokeAsync("Contacts", Model)

            </div>
        </div>

        <a asp-action="List"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Вернуться в Реестр
        </a>
        <script>
            function myFunction() {
                var x = document.getElementById("myDIV");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>


        <button type="submit" class="btn btn-success"><span>Изменить Потребителя</span><i class="glyphicon glyphicon-chevron-right"></i></button>
    </form>

</div>
